body {
	padding: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	margin: auto;
}

label {
	margin-bottom: .5em;
}

input, select, button {
	margin-bottom: 1em;
}

input, select, button {
	width: 20em;
}

button {
	color: rgb(10, 10, 10);
	background-color: rgb(218, 236, 234);
	border: none;
	padding: .5em;
	cursor: pointer;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

button:hover, button:focus {
	background-color: rgb(195, 221, 218);
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
	width: 46%;
	margin: 10px auto 20px;
}
